/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #f87c4e,
  secondary: #597a48,
  dark: #000,
  light: #f5f3ee,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * 1),
  2: ($spacer * 2),
  3: ($spacer * 3),
  4: ($spacer * 4),
  5: ($spacer * 5),
  6: ($spacer * 6),
  8: ($spacer * 8),
  9: ($spacer * 9),
  10: ($spacer * 10),
);

$grid-gutter-width: 1.5rem;

$gutters: (
  0: 0,
  1: ($spacer * 1),
  2: ($spacer * 2),
  3: ($spacer * 3),
  4: ($spacer * 4),
  5: ($spacer * 5),
  6: ($spacer * 6),
  8: ($spacer * 8),
  9: ($spacer * 9),
  10: ($spacer * 10),
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

:root {
  --navbar-height: 56px;
}
