.icon {
  &--image {
    img,
    svg {
      width: $gutter * 12;
      height: $gutter * 8.5;
      object-fit: contain;
      object-position: center;
    }
  }

  &--big-image {
    img,
    svg {
      width: $gutter * 16;
      height: $gutter * 12.5;
      object-fit: contain;
      object-position: center;
    }
  }
}
